<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clinica 1.0</title>
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4">Formulário de cadastro</h1>
    <p class="lead">Preencha o formulário</p>
    <hr class="my-4">
    <div class="card-formulario">
      <form #myform="ngForm" (ngSubmit)="salvarDados(myform)">
        <div class="form-group">
          <label for="nome">Nome</label>
          {{ nome.value }}
          <input type="text" class="form-control" placeholder="Insira seu nome" name="nome" ngModel />
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</body>

</html>
